body {
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-smoke-bb-5_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c8347a73d6427dda5d03bd1100c39354');
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: cover;
  }
  header {
    text-align: left;
    border: 5px solid #163A38;
    margin-bottom: 40px;
    background-color: sienna;
}
#logo {
    float:right;
     filter: blur(0px);
      width: 300px;
      height: 200px;
      border: none;
      padding-right: 50px;
      margin: 0px;
      border-radius:0px;
  
  }
h1 {
    color:#163A38;
    font-family: 'Righteous', cursive;
    margin-left: 100px ;
    font-size: 80px;
    letter-spacing: 5px;
    margin-top:10px;
    margin-bottom:10px;

  }
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 10px;
  }
  header nav ul li a {
    text-decoration: none;
    color: orangered;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Righteous', cursive;
  }
  header nav ul li a:hover {
    color: white;
  }
  #imagesSection  {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    cursor:pointer ;
    
  }
  img {
    filter: blur(2px);
    width: 250px;
    height: 250px;
    border: 2px solid#366055;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
  }

  img:hover {
    filter: blur(0px);
    transform: scale(1.3);
  }
  
  canvas{
    color: black;
  }